*{ margin: 0; padding: 0; list-style-type: none;}
a {text-decoration: none; cursor: pointer;}
html, body {width: 100%;height: 100%;}
body {min-height:100%;}
p {font-family: 'Roboto';
; }
.footer {font-family: Roboto; color:  rgb(71, 145, 226); padding: 10px; position: absolute;}
/*-----------------------------
          Navbar
-----------------------------*/
.Header__menu {text-align:center; color: rgb(71, 145, 226); display: inline; margin: 0px;}
.header__logo {width: 130px; height: 70px; object-fit: cover;}
.menu__item {text-align:center; display: inline; }
.menu__item a{color: rgb(71, 145, 226); padding: 10px; font-family: 'Noto Sans JP', sans-serif; display:inline-block}
.menu__item :hover{background-color: #eee;}
.Burger {float: right; display: none; background-color: #000;  }
.Burger div{width: 27px; height: 5px; background-color: rgb(71, 145, 226); margin: 5px;}
.animate {transition: 0.2s ease-out}
.map__navbar {display: none;}
/*-----------------------------
        |  Side Bar |
-----------------------------*/
.sidebar {height: auto; width: 30%; float: right;  background-color: #eee;}
.sidebar__copy {margin: 8px; padding: 10px; max-width: 100%;}
.slideshow-container {}
.map {width: 96%; height: 270px; border:0;}

/*-----------------------------
        |  Content  |
-----------------------------*/
.content {height: 100%; width: 100%; position:}
.content p {margin: 6px; display: inline;}
.content img {width: 50%;}

/*-----------------------------
         Cover
-----------------------------*/
.cover {width: 100%; height: 100%; background-repeat: no-repeat; background-size: 100%;
display: grid; min-height: 100%; background-position: center center;
background-image: url(https://bit.ly/2ZqdurA);
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}

.cover__text {color: #fff; margin: auto; text-align: center; padding: 50px;}
.cover__text h1{font-family: 'Lobster'; margin-bottom: 10px;}
.cover__botton {background-color: #fff; width: 70px; color: #4791e2; padding: 8px; margin-top: 15px;}
.cover__botton a{font-size: 110%; font-family: 'Noto Sans JP';}
.cover__botton a:visited{color: #4791e2;}
/*-----------------------------
         Contatti
-----------------------------*/
.contatti {font-family: Roboto; background-color: rgb(71, 145, 226); width: 25%; margin-top: 30px;}
.contatti__copy {padding: 18px;}
.contatti input {border: 0; width: 90%; height: 30px; font-size: 100%;}
.contatti h2 {color: #fff}
.contatti p{color: #fff;}
.contatti .messaggio {height: 120px; width: 90%; resize: vertical;}
.contatti .submit {background-color: #fff; color:rgb(71, 145, 226); cursor: pointer;  height: 35px; }
.social { margin-top: -300px; margin-left: 5px; }
.social__phone {display: none;}

.instagram__conteiner {background-color: #C13584; float: left; display: inline-flex; padding: 10px;}
.instagram__conteiner img{width: 60px; margin-left: -5px;}
.instagram__conteiner p {margin-top: 18px; width: 0px; overflow: hidden; color: #fff; font-size: 20px}
.instagram__conteiner :hover + .instatext { width: 160px; transition: 0.3s; overflow: auto;overflow-x: hidden;}

.facebook__conteiner {background-color: #3b5998; float: left; display: inline-flex; padding: 10px; height: 60px;}
.facebook__conteiner img{width: 60px; margin-left: -5px;}
.facebook__conteiner p {margin-top: 18px; width: 0px; overflow: hidden; color: #fff; font-size: 17px}
.facebook__conteiner :hover + .facetext { width: 180px; transition: 0.3s; overflow: auto;overflow-x: hidden; overflow-y: hidden;}

/*-----------------------------
        Smartphone
-----------------------------*/
@media screen and (max-width: 767px) {
/* Header */
.menu__item {display: flex; flex-direction: column;  }
.menu__item a {color: rgb(71, 145, 226); margin-right: 0; }
.Burger {display: block; margin-top: -55px; background-color: #fff; margin-right: 10px;}
.Burger a{display: block; }
.Header__Hr {display: none;}
.Navbar__list { height: 93vh;  background-color: #fff; width: 0%;
 position: absolute; float: right; right: 0px; overflow: hidden;}
.map__navbar {border: 0; padding: 10px; width: 90%; display: block;}
.is-open { width: 55%; overflow: auto;}
/* SideBar */
.sidebar {display: none;}
/* Cover */
.cover__text {margin-top: 60px;}
/* Contatti */
.contatti {width: 80%; }
.social {display: none;}
.instagram__conteiner {width: 180px; overflow: auto;}
.facebook__conteiner {}
.facebook__conteiner p {margin-top: 18px; width: 220px; font-size: 17px}
.instagram__conteiner p {margin-top: 18px; width: 220px; font-size: 17px}
.social__phone {display: inline-flex; margin-top: 10px; padding: 3px;margin-left: 38px;}
.insta__phone img{width: 60px; background-color: #C13584; padding: 10px;}
.face__phone img{width: 60px; background-color: #3b5998 ; padding: 10px; margin-left: 5px;}
.fiv__phone img{width: 59px; height: 59px; background-color: #fff ; padding: 10px; margin-left: 5px; object-fit: cover;
border: solid 1px rgb(71, 145, 226);}
