*{ margin: 0; padding: 0; list-style-type: none;}
a {text-decoration: none; cursor: pointer;}
html, body {width: 100%;height: 100%;}
body {min-height:100%;}
p {font-family: Roboto; }
.footer {font-family: Roboto; color:  rgb(71, 145, 226); padding: 10px; position: absolute;}

/*-----------------------------
          Navbar
-----------------------------*/
.Header__menu {text-align:center; color: rgb(71, 145, 226); display: inline; margin: 0px;}
.header__logo {width: 200px; height: 80px; object-fit: cover;}
.menu__item {text-align:center; display: inline; }
.menu__item a{color: rgb(71, 145, 226); padding: 10px; font-family: 'Roboto', sans-serif; display:inline-block}
.menu__item :hover{background-color: #eee;}
.Burger {float: right; display: none; background-color: #000;  }
.Burger div{width: 25px; height: 4px; background-color: rgb(71, 145, 226); margin: 5px;}
.map__navbar {display: none;}
.animate {transition: 0.2s ease-out}

/*-----------------------------
          Side Bar
-----------------------------*/
.sidebar {height: auto; width: 30%; float: right; margin-bottom: 30px; }
.sidebar__copy {margin: 8px; padding: 10px; max-width: 100%;}
.map {width: 600; height: 270px; border:0;}

/*-----------------------------
          Content
-----------------------------*/
.content {height: 100%; width: 100%; position:}
.content p {margin: 6px;}
.content img {width: 50%; margin-left: 10%;}

/*-----------------------------
        Smartphone
-----------------------------*/
@media screen and (max-width: 767px) {
/* Header */
.menu__item {display: flex; flex-direction: column;  }
.menu__item a {color: rgb(71, 145, 226); margin-right: 0; }
.Burger {display: block; margin-top: -65px; background-color: #fff; margin-right: 10px;}
.Burger a{display: block; transition: 0.2s ease-out; transition: all cubic-bezier(0.26, 0.1, 0.27) 0.35s}
.Header__Hr {display: none;}
.Menu__box {margin-top: -100px; position: absolute; right: 25px;}
.Menu__box ul {margin-top: 20px; }
.Navbar__list { height: 93vh;  background-color: #fff; width: 0%;
 position: absolute; float: right; right: 0px; overflow: hidden;}
.map__navbar {border: 0; padding: 10px; width: 90%; display: block;}
.is-open { width: 55%; overflow: auto;}
/* SideBar */
.sidebar {display: none;}
}


/* Slideshow css */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  max-height: 200px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
