*{ margin: 0; padding: 0; list-style-type: none;}
a {text-decoration: none; cursor: pointer;}
html, body {width: 100%;height: 100%;}
body {min-height:100%;}
p {font-family: Roboto; }
.footer {font-family: Roboto; color:  rgb(71, 145, 226); padding: 10px; position: absolute;}

/*-----------------------------
          Navbar
-----------------------------*/
.Header__menu {text-align:center; color: rgb(71, 145, 226); display: inline; margin: 0px;}
.header__logo {width: 200px; height: 80px; object-fit: cover;}
.menu__item {text-align:center; display: inline; }
.menu__item a{color: rgb(71, 145, 226); padding: 10px; font-family: 'Roboto', sans-serif; display:inline-block}
.menu__item :hover{background-color: #eee;}
.Burger {float: right; display: none; background-color: #000;  }
.Burger div{width: 25px; height: 4px; background-color: rgb(71, 145, 226); margin: 5px;}
.map__navbar {display: none;}
.animate {transition: 0.2s ease-out}

/*-----------------------------
          Side Bar
-----------------------------*/
.sidebar {height: auto; width: 30%; float: right; margin-bottom: 30px; }
.sidebar__copy {margin: 8px; padding: 10px; max-width: 100%;}
.map {width: 600; height: 270px; border:0;}

/*-----------------------------
          Content
-----------------------------*/
.content {height: 100%; width: 100%; position:}
.content p {margin: 6px;}
.content img {width: 50%; margin-left: 10%;}

/*-----------------------------
        Smartphone
-----------------------------*/
@media screen and (max-width: 767px) {
/* Header */
.menu__item {display: flex; flex-direction: column;  }
.menu__item a {color: rgb(71, 145, 226); margin-right: 0; }
.Burger {display: block; margin-top: -65px; background-color: #fff; margin-right: 10px;}
.Burger a{display: block; transition: 0.2s ease-out; transition: all cubic-bezier(0.26, 0.1, 0.27) 0.35s}
.Header__Hr {display: none;}
.Menu__box {margin-top: -100px; position: absolute; right: 25px;}
.Menu__box ul {margin-top: 20px; }
.Navbar__list { height: 93vh;  background-color: #fff; width: 0%;
 position: absolute; float: right; right: 0px; overflow: hidden;}
.map__navbar {border: 0; padding: 10px; width: 90%; display: block;}
.is-open { width: 55%; overflow: auto;}
/* SideBar */
.sidebar {display: none;}
}
